
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4602016 */
  src: url('//at.alicdn.com/t/c/font_4602016_sgfp18pz8x.woff2?t=1724639139607') format('woff2'),
       url('//at.alicdn.com/t/c/font_4602016_sgfp18pz8x.woff?t=1724639139607') format('woff'),
       url('//at.alicdn.com/t/c/font_4602016_sgfp18pz8x.ttf?t=1724639139607') format('truetype');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: #f5f6f9;
}

$mult-color: #333333; //主要文字、标题 rgba(51, 51, 51, 1)
$mult-color-inverse: #fff; //反色
$mult-color-grey: #999; //辅助灰色，rgba(153, 153, 153, 1);
$mult-color-placeholder: #FC515F; // 强调文字颜色 rgba(252, 81, 95, 1)
$mult-color-tag-1: #FF8D1A; // rgba(255, 141, 26, 1);
$mult-color-tag-2: #3568F5; // rgba(53, 104, 245, 1);
$mult-color-tag-3: #00baad; // rgba(0, 186, 173, 1);
$mult-color-tag-4: #e05fe9; // rgba(224, 95, 233, 1);
$mult-color-disable: #c0c0c0;
$mult-color-blank: #000000; // rgba(0, 0, 0, 1);


.overHidden {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}